.bg-utama {
    background-color: rgba(248, 252, 250, 1);
}


  .container-xxl {
    display: flex;
    align-items: center;
    justify-content: center;

}
.title {
    color: #14183E;
    font-family: Lora;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-transform: capitalize;

}

/* progres */
.prog-bg {
  border-radius: 5px;
  border: 1px solid rgba(90, 172, 168, 0.50);
  background: #FFF;
}
.progres {
  background-color: rgba(90, 172, 168, 1);
  width: 49%;
  height: 5px;
  justify-content: space-between;

}
.rinc{
  color: #FF7468;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.638p16

}

.posision-persen {
  position: relative;
  left: 98%;
  transform: translateY(-70%);

}

/* button donasi sekarang */
#donate-button {
  display: inline-flex;
  letter-spacing: 2px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fb6c5f;
  transition: background-color 0.3s ease; /* Adding a smooth transition for the background color */
}
#donate-button:hover {
  color: #14183E;
  background: rgba(90, 172, 168, 0.50);

}
.text-bottom{
  color: #14183E;
text-align: center;
font-family: Raleway;
font-size: 23.258px;
font-style: normal;
font-weight: 600;
line-height: 30.602px; /* 131.579% */
letter-spacing: 0.698px;
}


/* inputan */
#custom-input::placeholder{
  color: rgba(112, 112, 112, 0.50);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175.7%; /* 28.112px */
}
#select-custom{
  color: rgba(112, 112, 112, 0.50);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175.7%; /* 28.112px */
}
/* image */
.image-content{
    width: 466px;
height: 316px;
flex-shrink: 0;
}
.text{
    /* paragraph */
font-family: Raleway;
font-size: 17px;
font-style: normal;
line-height: 27px; /* 158.824% */
letter-spacing: 0.51px;
}
.selengkapnya {
  text-decoration: none;
  color: var(--greenColor, #5AACA8);
  /* Section */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 1.28px;


}
   #custom-input::placeholder{
    color: rgba(112, 112, 112, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 175.7%; /* 28.112px */
    border-radius: 4px;

  }
  #custom-input{
    border: 2px solid rgba(158, 158, 158, 0.35);
background: #F8FCFA;
  }
  #select-custom{
    color: rgba(112, 112, 112, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 175.7%; /* 28.112px */
    border-radius: 4px;
    border: 2px solid rgba(158, 158, 158, 0.35);
    background: #F8FCFA;
  }
.textarea #custom-input{
width: 320px;
height: 112px;
flex-shrink: 0;
}
