/* CSS untuk layar lebih kecil seperti perangkat seluler */
@media (max-width: 768px) {

    /* CSS untuk mengatur ukuran gambar */
.update-image {
    max-width: 100%; /* Maksimum lebar gambar adalah lebar kontainer */
    height: auto;    /* Lebar disesuaikan untuk mempertahankan aspek gambar */
    border-radius: 10px;
}

}
.title-update{
    color: #707070;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 2px; /* 150% */
letter-spacing: 1.28px;
}
.description
{
    color: #14183E;
    font-family: Lora;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 137.143% */
    letter-spacing: 1.05px;
}
.text-blue{
    color: #5AACA8;
font-family: Lora;

}
.caption{
    color: #707070;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    letter-spacing: 0.48px;
}
.update-image{
    border-radius: 10px;
}
